---
import { Image } from "astro:assets";
import facebook from "../assets/svg/ICONOS-03.svg";
import whatsapp from "../assets/svg/ICONOS-04.svg";
import instagram from "../assets/svg/ICONOS-04.svg";
import whatsappIcon from "../assets/svg/icono-wsp.svg";
import phoneIcon from "../assets/svg/phone.svg?raw";
import correoIcon from "../assets/svg/correo.svg?raw";
import mapaIcon from "../assets/svg/mapa.svg?raw";
import fotoFooter from "@/assets/images/footer/perfil-footer.jpg";

//import { Icon } from "astro-icon/components";

// Footer component props
export interface Props {
  companyName?: string;
  year?: number;
}

const { companyName = "Medical Más Salud", year = new Date().getFullYear() } = Astro.props;
---


<footer class="bg-[#122640] text-white pt-44 pb-10 relative mt-[100px]">

  <div class="absolute left-1/2 -translate-x-1/2 -top-24 w-full max-w-5xl px-4">
    
    <div class="bg-white text-black rounded-2xl shadow-xl flex flex-col md:flex-row items-center gap-6 p-6 text-center md:text-left">


      <div class="w-32 md:w-40 flex-shrink-0">
        <Image 
          src={fotoFooter} 
          alt="Foto persona" 
          className="w-full h-auto object-contain"
        />
      </div>


      <div class="flex-1 flex flex-col justify-center items-center md:justify-center">
        
        <h2 class="text-xl md:text-2xl font-bold">
          ¿Necesita asesoría técnica para su proyecto?
        </h2>

        <p class="text-gray-600 mt-2 max-w-md">
          Nuestro equipo de ingenieros está listo para diseñar la solución ideal para su operación
        </p>

        <button class="mt-4 bg-blue-600 text-white px-6 py-2 rounded-lg transition duration-300 hover:bg-blue-700">
          Solicitar Cotización
        </button>

      </div>

    </div>
  </div>


  <div class="max-w-7xl mx-auto px-4 flex flex-col md:flex-row  md:justify-between md:items-center justify-end gap-6 text-center mt-10 h-[400px] md:h-auto">

    <div class="font-bold">
      {companyName}
    </div>

    <a 
      href="https://www.cdcimport.cl/cdcequiposlavanderia"
      target="_blank"
      class="text-sm hover:underline"
    >
      www.cdcimport.cl/cdcequiposlavanderia
    </a>

    <a 
      href="mailto:ventas@cdcimport.cl"
      class="text-sm hover:underline"
    >
      ventas@cdcimport.cl
    </a>

    <div class="text-sm">
      © {year} {companyName}. Todos los derechos reservados.
    </div>

  </div>

</footer>
